
<p-table #datatable [value]="records" [tableStyle]="{ 'min-width': '50rem' }"
[globalFilterFields]="['name']">
    <ng-template #caption>
        <div class="flex">
            <p-button label="New Account" icon="pi pi-file-plus" (onClick)="onNewRecord()" />
            <p-iconfield iconPosition="left" class="ml-auto">
                <p-inputicon>
                    <i class="pi pi-search"></i>
                </p-inputicon>
                <input pInputText type="text" (input)="datatable.filterGlobal($any($event.target).value, 'contains')" placeholder="Search keyword" />
            </p-iconfield>
        </div>
    </ng-template>
  <ng-template #header>
    <tr>
      <th>Id</th>
      <th pSortableColumn="name">Name <p-sortIcon field="name" /></th>
      <th pSortableColumn="description">Description <p-sortIcon field="description" /></th>
      <th pSortableColumn="type">Type <p-sortIcon field="type" /></th>
      <th pSortableColumn="isEnabled">
        Active <p-sortIcon field="isEnabled" />
      </th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template #body let-record>
    <tr>
      <td>{{ record.id }}</td>
      <td>{{ record.name }}</td>
      <td>{{ record.description }}</td>
      <td>{{ record.type }}</td>
      <td>{{ record.isEnabled | booleanCell }}</td>
      <td>
        <p-buttongroup>
          <p-button
            icon="pi pi-pen-to-square"
            aria-label="Edit"
            (onClick)="onEditRecord(record)"
          />
          <p-button
            icon="pi pi-trash"
            aria-label="Delete"
            (onClick)="onDeleteRecord($event, record)"
          />
        </p-buttongroup>
      </td>
    </tr>
  </ng-template>
</p-table>
<app-new-account-form
  [visible]="showNewEditDialog"
  (onClose)="onDialogClose()"
  (onSave)="onRecordSave($event)"
  [recordModel]="selectedRecord"
></app-new-account-form>
<p-toast />
<p-confirmdialog />
